.matchContainer {
    align-self: center;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 235, 235);
    margin-bottom: 7px;
    font-weight: 600;
    animation-name: enterBox;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.match {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
}

.teamContain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.matchNum {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(107, 107, 107);
}

.matchNum p {
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
}

.matchTeam {
    margin: 5px;
    font-size: 12px;
}

.puntosCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.puntosCont p {
    margin: 5px;
}


.flag {
    height: 45px;
    font-size: 45px;
    margin: 0px 20px;
}

.localCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.addLess {
    width: 40px;
    background-color: rgb(167, 165, 165);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    border-radius: 3px;
    height: auto;
    padding-bottom: 3px;
    cursor: pointer;
    margin: 3px;
}



.selectLocal {
    font-size: 25px;
    font-weight: 600;
}

.selectVisit {
    font-size: 25px;
    font-weight: 600;
}

.resultadoGoles {
    font-size: 25px;
    font-weight: 600;
}

.partidoBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prediccionPartido {
    /* color: rgb(45, 45, 45); */
    color: rgb(107, 107, 107);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding-left: 15px;
}

.puntaje {
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 15px;
    width: 55px;
    /* border-radius: 3px; */
    font-size: 18px;
    font-weight: 800;
    display: flex;
    color: #000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid 2px #ae946d; */
    margin-right: 15px;
    /* -webkit-text-stroke: 1px #ae946d; */

}