.prediccionTitulo{
    margin: 40px 0px;
    color: #fff;
}

.prediccionCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff !important;
    width: 95%;
    border-radius: 3px;
    border: solid;
}



.prediccionTitulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.prediccionTitulos div{
    width: 25%;
    font-weight: 600;
}

.prediccionLine{
    width: 50% !important;
}

.predPartido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.prediccionMiddle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prediccionMiddle img{
    height: 25px;
}

.predPartido p{
    width: 25%;
}

.predicData{
    width: 50% !important;
}