.prediccionTitulo{
    margin: 40px 0px;
    color: #fff;
}

.prediccionCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000 !important;
    width: 100%;
}



/* .prediccionTitulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 95%;
    text-align: center;
} */

/* .prediccionTitulos div{
    width: 25%;
    font-weight: 600;
} */

.prediccionLine{
    width: 50% !important;
}

.predPartido{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-size: 14px;
    background-color: #edebeb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 3px;
    font-weight: 600;
    height: 50px;
    animation-name: enterBox;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.prediccionMiddle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 10%;
}

.prediccionMiddle img{
    height: 25px;
}

.prediccionMiddle p{
    width: 100%;
}

.predPartido .puntos{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding: 0px 10% 0px 10%;
}
/*
.predicData{
    width: 50% !important;
} */

.emptySpace{
    width: 30% !important;
}

.loader{
    position: relative !important;
}