.adminCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminCont h2{
    margin: 40px 0px 0px 0px;
    color: #fff;
}

.adminCont h3{
    margin: 40px 0 20px 0;
    color: #fff;
}

.listaHabil{
    width: 100%;
    list-style: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px!important;
    margin-top: 15px !important;
}

.itemHabil{
    align-self: flex-end;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0px!important;
    background-color: #edebeb;
    margin-bottom: 3px !important;
    padding: 0px!important;
    font-size: 14px;
    background-color: #edebeb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 3px;
    font-weight: 600;
    height: 50px;
    animation-name: enterBox;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subItemHabil{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0px !important;
    padding: 0px 0px 0px 10% !important;
}

.subItemHabil.status{
    width: 25%;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.subItemHabil.status.ok{
    color: rgb(15, 199, 55);
}

.subItemHabil.status.no{
    color: rgb(199, 15, 15);
}

.subItemHabil.btn{
    width: 25%;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center
}

.btnHabilitar{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid 2px #fff;
    box-shadow: rgb(81, 89, 89) 0px 1px 2px 0px , rgba(0, 0, 0, 0.373) 0px 1px 2px 2px ;
}

.btnHabilitar.ok{
    background-color: rgb(15, 199, 55);
}

.btnHabilitar.no{
    background-color: rgb(199, 15, 15);
}

.inputProde{
    /* text-transform: uppercase; */
    font-size: 14px;
    padding: 7px 10px;
    margin-bottom: 7px;
    width: calc(85% - 10px);
    padding-left: 15px;
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    appearance: none;
    border: none;
    border-radius: 3px;
}

#locales, #visitantes{
    /* text-transform: uppercase; */
    font-size: 14px;
    padding: 7px 10px;
    margin-bottom: 7px;
    width: calc(85% - 10px);
    padding-left: 15px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    appearance: none;
    border: none;
    border-radius: 3px;
}

.golesLocal, .golesVisitante{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px;
    width: 16px;
    padding: 5px 10px;
    /* padding-left: 15px; */
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3px;
}

.listaResultados{
    /* color: #fff; */
    width: 100%;
}


.textoResultado{
    padding: 0px 15px !important;
    font-size: 12px;
    width: 37.5%;
    display: flex;
    font-weight: 600;
    flex-direction: row;
}

.l{
    justify-content: flex-start;

}

.v{
    justify-content: flex-end;
}

.selectsResul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.selectsResul p{
    margin: 0 5px;
}

.invisible{
    visibility: hidden;
    width: 0px;
}

.btnFiltro.act{
    width: 85%;
}

.btnFiltro.small{
    font-size: 20px !important;
    margin: 3px!important;
    background-color: black;
    cursor:auto;
}

.btnFiltro.small p{
    margin: 5px;
}

.inputBuscar{
    font-size: 14px;
    padding: 7px 10px;
    margin-bottom: 7px;
    width: calc(85% - 10px);
    padding-left: 15px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    appearance: none;
    border: none;
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.tools div{
    font-size: 18px;
    margin: 2px;
    border: solid 1px #fff;
    padding: 0 10px;
    width: 100%;
    background-color: #ae946d;
}

.btnFiltro.small label{
    font-size: 16px;
}

.btnFiltro.small input{
    width: 90%;
}

.btnFiltro.small select{
    width: 98.5%;
    margin: 0px;
}