.navbarContainer{
    height: 70px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5555;
    max-width: 520px;
}

.design{
    margin: 3px 10px;
    align-self: flex-end;
    color: #fff;
    font-size: 8px;
    font-style: italic;
}

.navbarList {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(181, 181, 181);
    margin: 0;
    width: 100%;
}

.navItem p{
    font-size: 0px;
    margin: 3px;
    opacity: 0;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-weight: 600;
    
}

.navItem p.active{
    /* font-size: 12px; */
    opacity: 1;
    animation-name: enterTitle;
}

.navItem p.inactive{
    opacity: 0;
    animation-name: exitTitle;
}

.navItem svg{
    font-size: 25px;
}

.navItem path{
    stroke: rgb(181, 181, 181) !important;
}

.navItem.active{
    color: #ae946d;
}

.navItem.active path{
    stroke: #ae946d !important; 
}

@keyframes enterTitle {
    from{
        opacity: 0;
        font-size: 0px;
    }
    to{
        opacity: 1;
        font-size: 12px;
    }
}

@keyframes exitTitle {
    from{
        opacity: 1;
        font-size: 12px;
    }
    to{
        opacity: 0;
        font-size: 0px;
    }
}