.bgModal {
    z-index: 999;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.453);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgModal.inactive{
    visibility: hidden;
}

.bgModal.active{
    visibility: visible;
}

.modalPrediccion {
    z-index: 1000;
    position: relative;
    background-color: #edebeb;
    min-height: 0%;
    max-height: 60%;
    width: calc(100% - 65px);
    border-radius: 3px;
    border: solid 2px #c19e54;
    padding: 10px;
    padding-bottom: 35px;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modalPrediccion.active{
    animation-name: enterModal;
}

.modalPrediccion.inactive{
    animation-name: exitModal;
}

.modalPrediccion h3{
    font-size: 22px;
}

.modalPrediccion .predPartido {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    background-color: #000000;
    /* border-top-left-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
    border-radius: 3px;
    margin-bottom: 3px;
    font-weight: 600;
    height: 50px;
    animation-name: enterBox;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #fff;
}

.cerrarModal{
    position: absolute;
    top: 2px;
    right: 2px;
}


@keyframes enterModal {
    from{
        opacity: 0;
        transform: scale(0.6);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes exitModal {
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0.6);
    }
}