.clasificacionCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.clasificacionCont h2{
    color: #fff;
    margin: 40px 0px;
}

.tablaCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    /* border: solid 2px #fff; */
    width: 100%;
    border-radius: 3px;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden !important;
    padding: 0px;
}

.arrowCont{
    height: 18px;
    align-self: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.arrow{
    border: solid 1px #fff;
    color: #ae946d;
    background-color: #fff;
}

.arrow path{
    color: #ae946d;
    border: solid 1px #fff;
    background-color: #fff;
}



.tablaUser{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    background-color: #edebeb;
    align-items: center;
    font-size: 14px;
    margin-bottom: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 50px;
    /* padding: 0px 10px; */
    transform: translateX(1px);
    animation-name: enterBox;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tablaUser p{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    padding: 0px 0 0 10%;
    font-weight: 600;
}

.tablaUser .nombre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    text-align: start;
}

.tablaPuntos{
    color: #ae946d;
}

.puntosTabla{
    font-weight: 600;
}

.primero{
    color: #ae946d;
    font-weight: 600;
}

.primero p{
    color: #000;
}

.tablaUser .puntajeTabla{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.tresPuntos{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 5px; */
    cursor: pointer;
}

.tresPuntos span{
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background-color: rgb(100, 98, 98);
    margin: 1px;
}

.puntosTabla{
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.crown{
    position: absolute;
    /* bottom: 0px; */
    /* top: ; */
    font-size: 18px;
    left: 7px;
    color: #ae946d;
    /* transform: rotate(-20deg); */
}

.plus{
    font-size: 20px;
    font-weight: 600 !important;
}

.tablaOpciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
    width: 91%;
}

.tablaOpciones h3{
    width: 100%;
    background-color: #000;
    height: auto;
    border: solid 1px #fff;
    padding: 5px;
    margin: 3px !important;
    cursor: pointer;
}

.tablaOpciones h3.active{
    background-color: #ae946d;
}

.tablaOpciones.buscador{
    width: 90%;
    justify-content: flex-start;
    align-items: center;
}

.tablaOpciones .inputProde{
    width: 80%;
    margin: 0px 10px 0px 0;
}

.lupita{
    color: #fff;
    font-size: 22px;
}

.black{
    background-color: #000;
    border: solid 1px #ae946d;
    color: #ae946d !important;
    height: 30px;
    width: 91%;
}

.right{
    padding: 0 5px 0 0 !important;
    color: #fff;
}

.left{
    width: 40% !important;
    font-size: 12px !important;
    color: #ae946d;
}