.clasificacionCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.clasificacionCont h2{
    color: #fff;
    margin: 40px 0px;
}

.tablaPosicionesCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: solid 2px #fff;
    width: 90%;
    border-radius: 3px;
    height: 200px auto;
}

.tablaTitulos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-bottom: solid 1px;
    padding: 10px 0px; 
    font-weight: 600;
}

.tablaTitulos div{
    width: 100%;
}

.tablaUser{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border: solid 1px #fff;
    align-items: center;
    font-size: 14px;
}

.tablaPuntos{
    color: #C19E54;
}

.tablaUser p{
    width: 100%;
}

.puntosTabla{
    font-weight: 600;
}

.primero{
    color: #C19E54;
    font-weight: 600;
}