#loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    color: #fff;
    margin-top: 20px;
}

#loginContainer button{
    margin-top: 10px;
    margin-bottom: 70px;
}