.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  background-color: #000;
  min-height: 100vh;
  overflow: hidden;
}

.partidosTitulo{
  color: #fff;
  margin: 40px 0px;
}

#faseElegida{
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}

.guardarCambios{
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: aquamarine;
  border-radius: 3px;
  font-weight: 600;
  font-size: 25px;
  border: solid 2px #000;
  padding: 10px;
  cursor: pointer;
}

.totalPts{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
  color: #fff;
}

.totalPts p{
  margin-right: 20px;
}

.btnFiltro{
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  margin: 10px;
  padding: 5px;
}