.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  background-color: #000;
  min-height: 100vh;
  overflow: hidden;
}

.partidosTitulo{
  color: #fff;
  margin: 40px 0px;
}

.donePredictions{
  color: #fff;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 5%;
  font-weight: 600;
}

.selYBtn{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0px 0px 20px 0px;
}

#faseElegida{
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  width: 95%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #000 !important;
}


/*AGREGAR ANIMACION*/
.guardarCambios{
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #000;
  border-radius: 3px;
  font-weight: 800;
  font-size: 25px;
  border-top: solid 2px #C19E54;
  padding: 10px;
  cursor: pointer;
  color: #C19E54;
  /* -webkit-text-stroke: 1px #fff; */
  overflow: hidden;
}

.guardarCambios p{
  margin: 0;
}

.guardarCambios div{
  height: 100%;
  width: 100%;
}

.guardarCambios div span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: #fff;
  z-index: -5;
  animation-fill-mode: forwards;
}

#saveBtnSpan.active{
  animation-name: saveAnimation;
  animation-duration: 1.5s;
}

#saveBtnSpan.inactive{
  animation-name: saveEndAnimation;
  animation-duration: 0.5s;
}

.totalPts{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
  color: #fff;
}

.totalPts p{
  margin-right: 20px;
}

.btnFiltro{
  cursor: pointer;
  background-color: #000;
  border-radius: 3px;
  color: #C19E54;
  border: solid 2px;
  /* margin: 10px; */
  padding: 7px;
  font-size: 18px;
  font-weight: 600;
  min-width: 15%;
  margin-left: 20px;
  
}

@keyframes saveAnimation {
  from{
    right: 100%;
  }
  to{
    right: 0%;
  }
}

@keyframes saveEndAnimation {
  from{
    left: 0%;
    right: 0%;
  }
  to{
    top: 100%;
    left: 0%;
    right: 0%;
  }
}

@keyframes enterBox {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}

.loaderContain{
  position: fixed;
  top: 100px;
  bottom: 180px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}