@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* width: 100% !important; */
  background-color: #000;
  min-height: 50vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important; 
}

h1 {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 55px;
  font-weight: 400;
  color:  #ae946d;
  margin: 0px !important;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

h2 {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 35px;
  margin: 40px 0 20px 0 !important;
  font-weight: 400;
  color:  #fff;
}

h3{
  font-family: 'Bebas Neue', cursive !important;
  font-size: 20px !important;
  font-weight: 400;
  margin: 15px !important;
}

h4{
  font-family: 'Bebas Neue', cursive !important;
  font-weight: 400;
}

input {
  border-radius: 0px !important;
}

div {
  border-radius: 0px !important;
}

ul {
  border-radius: 0px !important;
}

li {
  border-radius: 0px !important;
}

select {
  border-radius: 0px !important;
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 600;
}

option {
  font-weight: 400;
  font-size: 14px;
}

.notaAdj{
  color: #fff;
  font-size: 10px;
  width: 95%;
  margin: 0;
  align-self: center;
}


.tablaOpciones.partidos {
  margin: 0px 0px 15px 0;
  width: 96%;
}

.tablaUser.partidos{
  justify-content: space-between;
}
.tablaUser.partidos.elegido{
  background-color: #ae946d;
  border: solid 1px #fff;
  color: #fff;
  border-right: none;
}

.selectEquipo{
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ae946d;
  border-radius: 100% !important;
  background-color: #fff;
}
.teamChosen{
  color: #ae946d;
  font-size: 25px;
  padding: 5px;
}

.teamChosen.black{
  color: rgb(218, 215, 215);
}

.chosenBandera{
  height: 30px;
  margin-left: 15px;
}

.donePredictions {
  color: #fff;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 5%;
  font-weight: 600;
}

.selYBtn {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0px 0px 20px 0px;
}

#faseElegida {
  padding: 5px;
  appearance: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: solid 1px #fff;
  background-color: #ae946d;
  color: rgb(255, 255, 255) !important;
  font-family: 'Bebas Neue', cursive !important;
}

.flecha{
  position: absolute;
  top: 30%;
  right: 25px;
  height: 8px;
  width: 8px;
  border-left: solid 3px #fff;
  transform: rotate(-45deg);
  border-bottom: solid 3px #fff;
}

/*AGREGAR ANIMACION*/
.guardarCambios {
  position: fixed;
  bottom: 1%;
  right: 2%;
  left: 2%;
  background-color: #ae946d;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  border: solid 1px #fff;
  padding: 7px;
  cursor: pointer;
  color: #fff;
  /* -webkit-text-stroke: 1px #fff; */
  overflow: hidden;
  font-family: 'Bebas Neue', cursive !important;
  /* max-width: 520px !important; */
}

.guardarCambios p {
  margin: 0;
}

.guardarCambios div {
  height: 100%;
  width: 100%;
}

.guardarCambios div span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -5;
  animation-fill-mode: forwards;
}

#saveBtnSpan.active {
  animation-name: saveAnimation;
  animation-duration: 1.5s;
}

#saveBtnSpan.inactive {
  animation-name: saveEndAnimation;
  animation-duration: 0.5s;
}

.totalPts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
  color: #fff;
}

.totalPts p {
  margin-right: 20px;
}

.btnFiltro {
  cursor: pointer;
  background-color: #ae946d;
  border-radius: 0px;
  color: #fff;
  border: solid 1px #fff;
  padding: 7px 10px;
  font-size: 20px !important;
  font-weight: 400;
  min-width: 15%;
  margin: 15px 0 25px 0 !important;
  width: 90%;
  font-family: 'Bebas Neue', cursive !important;


}

.gold{
  border: solid 2px #ae946d;
  padding-bottom: 5px;
  height: 80px;
}

.campeonElegido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.campeonElegido img{
  height: 30px;
  margin: 3px;
}

.gold .elegido{
  font-weight: 400;
  font-family: 'Bebas Neue', cursive !important;
  font-size: 30px;
  margin: 3px !important;
}


@keyframes saveAnimation {
  from {
    right: 100%;
  }

  to {
    right: 0%;
  }
}

@keyframes saveEndAnimation {
  from {
    left: 0%;
    right: 0%;
  }

  to {
    top: 100%;
    left: 0%;
    right: 0%;
  }
}

@keyframes enterBox {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.loaderContain {
  position: fixed;
  top: 100px;
  bottom: 180px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}